.FinishedQuiz{
    padding: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
}

.FinishedQuiz ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

FinishedQuiz ul li{

}

.success {
    /*color: green;*/
    background: rgba(161, 240, 69, .7);
}

.error {
    background: rgba(240, 87, 108, .7);
    /*color: red;*/
}

