.MenuToggle {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    z-index: 100;
    transition: all .22s ease-in;
}
.MenuToggle:hover{
    opacity: .7;
}
.MenuToggle.open{
    left: 320px;
}
.success {
    /*color: green;*/
    background: rgba(161, 240, 69, .7);
}

.error {
    background: rgba(240, 87, 108, .7);
    /*color: red;*/
}
